html, body {
  height: 100%; /* Ensure full height of the page */
  margin: 0;    /* Remove default margin */
  background-color: #F5F4F0; /* Light gray or any color of your choice */
  color: #333;  /* Text color */
}